tr {
  border: 1px solid #CAC9C9;
}
table {
  border-collapse: collapse;
  width: 75%;
}
td {
  padding: 3px 10px;
}
table tr:nth-child(2n) {
  background-color: #DDEBF8;
}
table td:nth-child(2n+3) {
  background-color: #F2F2DD;
}